@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  overflow: hidden;
}

.main {
  height: 100vh;
  background-image: linear-gradient(to right top, #ffb6b6, #c4c4c4);
  overflow: auto;

  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .letter-container {
  height: auto;
  width: 1000px;
  background-color: #ffffff;
  box-shadow: 30px 30px 10px #888;

  padding: 50px;
  margin-top: 100px;
}
.main .letter-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: justify;
  text-indent: 50px;
}

/* Responsive */

/* laptop */
@media (max-width: 1024px) and (min-width: 768px) {
  .main .letter-container {
    height: auto;
    width: 700px;

    margin-top: 200px;
  }

  .main .letter-container p {
    font-size: 25px;
  }
}

/* tablet */
@media (max-width: 767px) and (min-width: 481px) {
  .main .letter-container {
    height: auto;
    width: 500px;

    margin-top: 200px;
  }

  .main .letter-container p {
    font-size: 15px;
  }
}

/* phone */
@media (max-width: 480px) and (min-width: 320px) {
  .main .letter-container {
    height: auto;
    width: 300px;
  }

  .main .letter-container p {
    font-size: 12px;
  }
}
